// Update the import directory to point to it‘s location within node_modules
$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';

// Import the Sass files as usual
@import 'bootstrap-icons/font/bootstrap-icons';

.hover-underline {
  transition: color 0.1s ease;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: calc(-1em / 20);
    left: 0;
    height: 0.5px;
    width: 100%;
    background-color: var(--color-gold);

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.section-title {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: 0.02em;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  span {
    color: rgba(white, .3);
  }
}

.app-body {
}

.main {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 7.5rem;

  // width: 768px;
  max-width: 100%;

  .sticky {
    position: sticky;
    height: auto;

  }
}

