@import 'tailwindcss';

@theme {
  --color-primary: rgb(255, 136, 86);
  --color-secondary: rgb(65, 255, 176);
  --color-muted: #aaa;
  --breakpoint-xs: 22.5rem;
}

:root {
  --primary: rgb(255, 136, 86);
  --secondary: rgb(65, 255, 176);
  --tertiary: rgb(205, 126, 255);
  --quaternary: rgb(218, 255, 126);
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: Inter, sans-serif;
}

*::selection {
  background-color: var(--color-secondary);
  color: #000;
}

html {
  overflow-y: scroll !important;
}

body {
  background-color: #111;
  color: #fff;
}

b {
  font-weight: bold;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
